<!-- View that shows user comments within group and new comment form. -->

<%- include('../partials/header') %>
<%- include('../partials/comment_form') %>

<div>
  <h2>Comments:</h2>
      <% group.forEach((c) => { %>
      <h2>Posted by: <%= c.author %></h2>
      <p><%= c.content %></p>
      <a href="<%= c.url %>"><%= c.url %></a>
      <% }) %>
</div>
<br />


<%- include('../partials/foot') %>



